<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%  load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{%  static 'nodestats/style.css' %}" />
    {% block head %}{% endblock %}
    <title>Bitnodestats - {% block title %}Overview{% endblock %}</title>
</head>
<body>
    <header>
	    <div><b>Bitnodestats</b></div>
	    <a href="/">Home</a>
	    <a href="/blockheight">Blockheight </a>
	    <a href="/segwit">Segwit </a>
	    <a href="/blocksize">Blocksize </a>
	    <a href="/difficulty">Difficulty</a>
    </header>
{%  block main %}
<main>
    {%  if getinfo %}
        <div class="infobox">
            <p>Bitcoind node statistics.</p>
        </div>
    {% else %}
        <div>
            Connection to bitcoind could not be established.
        </div>
    {% endif %}
</main>
{% endblock %}
</body>
</html>

